#results {
	display: none;
}

button {
	font-weight: bold;
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #DF0B11;
}

label {
	font-weight: bold;
}

#hal {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 280px;
	padding-bottom: 20px;
}

.jumbotron {
	background-color: #B7B3B2;
	padding-top: 20px;
}
.resultHeader {
	padding: 5px;
}
